html {
margin:0; 
height:100%;
display: table;
}

body {
display: cell;
margin:0;
height:100%;
width:100%;
background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("beans2.jpg");
background-size:auto;
}

div {
border:0px solid red;
}

div.header {
position:relative;
display:inline-block;
width:100%;
background:white;
padding-bottom:2%;
}

div.title {
position:relative;
display:inline-block;
width:100%;
}

div.sectionheader {
position:relative;
display:inline-block;
width:100%;
overflow:hidden;
background-size:cover;
}

div.section {
position:relative;
display:inline-block;
width:100%;
background:white;
}

div.image {
position:relative;
display:inline-block;
width:100%;
}

p.header {
width:100%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:2.5vw;
font-weight:bold;
}

p.info {
width:100%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:1.5vw;
font-weight:bold;
}

p.sectiontitle {
width:100%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
color:white;
font-size:2vw;
font-weight:bold;
}

p.section {
margin-top:3%;
margin-bottom:3%;
margin-left:12%;
margin-right:12%;
text-align:left;
font-family:Verdana, Geneva, sans-serif;
font-size:1.5vw;
font-weight:bold;
}

p.problemstatement {
margin-left:15%;
margin-right:15%;
margin-bottom:3%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:1.5vw;
font-weight:bold;
}

ul.timeline {
margin-left:10%;
margin-right:10%;
margin-bottom:3%;
}

li.timeline {
margin-top:3%;
text-align:left;
font-family:Verdana, Geneva, sans-serif;
font-size:1.5vw;
font-weight:bold;
}

iframe.img1 {
margin-top:3%;
margin-bottom:3%;
width:100%;
height:40vw;
}

iframe.img2 {
margin-top:3%;
margin-bottom:3%;
width:100%;
height:50vw;
}

iframe.img3 {
margin-top:3%;
margin-bottom:3%;
width:100%;
height:50vw;
}

img.img4 {
margin-top:3%;
margin-bottom:3%;
width:100%;
height:50vw;
}

img.img5 {
margin-top:3%;
margin-bottom:3%;
width:100%;
height:50vw;
}

img.img6 {
margin-top:3%;
margin-bottom:3%;
width:100%;
height:50vw;
}

div.filler {
width:100%;
height:7vw;
}
