html, body {
margin:0; 
height:100%;
}

div {
border:0px solid red;
}

div.header {
position:relative;
display:inline-block;
width:100%;
}

div.title {
position:relative;
display:inline-block;
width:100%;
}

div.sectionheader {
position:relative;
display:inline-block;
width:100%;
overflow:hidden;
background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url("beans.jpg");
background-size:cover;
}

div.section {
position:relative;
display:inline-block;
width:100%;
}

div.image {
position:relative;
display:inline-block;
width:100%;
}

p.header {
width:100%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:2.4vw;
font-weight:bold;
}

p.info {
width:100%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:1.4vw;
font-weight:bold;
}

p.sectiontitle {
width:100%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
color:white;
font-size:1.8vw;
font-weight:bold;
}

p.section {
margin-left:10%;
margin-right:10%;
text-align:left;
font-family:Verdana, Geneva, sans-serif;
font-size:1.2vw;
font-weight:bold;
}

p.problemstatement {
margin-left:20%;
margin-right:20%;
text-align:center;
font-family:Verdana, Geneva, sans-serif;
font-size:1vw;
font-weight:bold;
}
